/* stripe 81cbbc */

body {
	background: #222;
	margin-top: 20px;
	font-size: 0.9em;
	line-height: 1.4;
	margin-bottom: 40px;
}

p {
	padding: 0;
	margin-top: 1.3em;
}

p.title {
	font-size: 2.8em;
	text-align: center;
	margin-top: 0;
}

p.subtitle {
	font-size: 1.7em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
	color: #888;
}

img.right {
	float: right;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p.center {
	text-align: center;
}

ul {
	list-style-type: disc;
}

li {
	margin-left: 2em;
	margin-top: 0.3em;
}

a {
	color: #6666cc;
}

a.launch {
	font-size: 2em;
	line-height: 2;
}

/* containing element */
.box
{
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 400;
	width: 70%;
	position: relative;
	margin: auto;
	padding: 0;
	color: #212121;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #333;
	box-shadow: 0px 2px 6px #111;
}
h2
{
	position: relative;
	line-height: 1em;
	width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Gochi Hand', cursive;
	padding: 6px 20px 6px 70px;
	margin: 30px 10px 10px -70px;
	color: #333;
	background-color: #999;
	text-shadow: 0px 1px 2px #bbb;
	box-shadow: 0px 2px 4px #888;
}

h2:before
{
	content: ' ';
	position: absolute;
	width: 30px;
	height: 0;
	left: -30px;
	top: 12px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
	box-shadow: 0px 2px 4px #222;
}


h2#intro
{
	background-color: rgb(230,159,0);
}
h2#intro:before
{
	border-color: rgb(230,159,0) rgb(230,159,0) rgb(230,159,0) transparent;
}

h2#focusa
{
	background-color: rgb(86,180,233);
}
h2#focusa:before
{
	border-color: rgb(86,180,233) rgb(86,180,233) rgb(86,180,233) transparent;
}

h2#implementation
{
	background-color: rgb(0,158,115);
}
h2#implementation:before
{
	border-color: rgb(0,158,115) rgb(0,158,115) rgb(0,158,115) transparent;
}

h2#interaction
{
	background-color: rgb(240,228,66);
}
h2#interaction:before
{
	border-color: rgb(240,228,66) rgb(240,228,66) rgb(240,228,66) transparent;
}

h2#future_ui
{
	background-color: rgb(0,114,178);
}
h2#future_ui:before
{
	border-color: rgb(0,114,178) rgb(0,114,178) rgb(0,114,178) transparent;
}

h2#future_research
{
	background-color: rgb(204,121,167);
}
h2#future_research:before
{
	border-color: rgb(204,121,167) rgb(204,121,167) rgb(204,121,167) transparent;
}