body {
	background: #444;
	margin: 0;
}

#main {
	padding-top: 10px;
}

#canvas {
	background: white;
	box-shadow: 5px 5px 10px #222;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#clearButton {
	box-shadow: 3px 3px 6px #333;
	padding-left: 6px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
	text-decoration: none;
}